<div class="flex fixed top-0 left-0 w-full px-8 items-center h-12 z-10 shadow-md">
  <div class="flex items-center gap-1">
    <p-button icon="pi pi-bars" text rounded severity="secondary" (click)="layoutService.toggleSidebarOpen()"/>
    <div class="flex items-center">
      <img ngSrc="/assets/svg/angular-icon.svg" alt="Logo" width="24" height="24"/>
      <span class="text-xl font-semibold ml-2 flex items-center">
          PRIME
          <span class="text-red-600">APP</span>
        </span>
    </div>
  </div>
  <div class="flex ml-auto gap-2">
    <p-button
      text
      rounded
      [severity]="layoutService.isDarkMode() ? 'warn' : 'secondary'"
      [icon]="layoutService.isDarkMode() ? 'pi pi-sun' : 'pi pi-moon'"
      (click)="layoutService.toggleDarkMode()"
    />
    <a routerLink="/profile"
       class="p-button p-button-rounded p-button-text flex items-center justify-center text-sm font-bold">
      <i class="pi pi-user"></i>
    </a>
    <p-divider layout="vertical"/>
    <p-button icon="pi pi-sign-out" text rounded severity="secondary" (click)="authService.logout()"/>
  </div>
</div>
