<p-menu [model]="items" class="flex justify-center py-6 pl-4 h-[calc(100vh-4rem)]"
        styleClass="overflow-y-auto border-0">
  <ng-template #submenuheader let-item>
    <span class="text-sm font-bold">{{ item.label }}</span>
  </ng-template>

  <ng-template #item let-item>
    <a pRipple [routerLink]="item.routerLin" class="flex items-center p-menu-item-link">
      <span class="" [ngClass]="item.icon"></span>
      <span class="ml-2 text-sm">{{ item.label }}</span>
    </a>
  </ng-template>
</p-menu>
